body{
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.banner-img {
    background-image: url("../img/homepage/OSS.png");
    background-position: center; 
    background-repeat: no-repeat;
    height: 50vh; 
    width: 100%; 
}

.banner-img a {
    margin-bottom: -50px;
}