.body-bg {
    background-image: url("../img/register/BG.jpg");
    /* background-size: cover;
    background-position: bottom; */
    color: darkblue;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-text {
    font-size: 32px;
    color: darkblue;
    font-weight: bold;
}

.form-bg {
    background-color: rgba(255, 255, 255, 0.4);
    color: black;
    border-radius: 30px;
    padding: 2rem;
}

.img-login-banner{
    width: auto;
    /* height: 100vh; */
}