.text-title-top {
    color: #007bff;
    font-weight: bold;
    font-size: large;
}

.text-title-color {
    color: #007bff;
}

.text-title-content {
    font-size: x-large;
    font-weight: bold;
}

.text-title {
    border: 2px solid #007bff;
    padding: 2rem;
    border-radius: 20px;
    width: 70%;
}