.label-box {
    background-color: #007bff;
    /* น้ำเงิน Bootstrap */
    color: white;
    font-weight: bold;
    font-size: 1.1rem;
    border-radius: 50px;
    /* ขอบมน */
    padding: 6px 16px;
    display: inline-block;
    margin-bottom: 6px;
}

.value-box {
    border: 2px solid #007bff;
    /* ขอบน้ำเงิน */
    border-radius: 20px;
    /* ขอบมน */
    padding: 6px 16px;
    color: #212529;
    /* font-weight: 600; */
    background-color: #f8f9fa;
    /* พื้นหลังเทาอ่อน */
    height: 90%;
}

.add-water {
    border: 2px solid #007bff;
    /* ขอบน้ำเงิน */
    border-radius: 20px;
    /* ขอบมน */
    padding: 6px 16px;
    color: #007bff;
    /* font-weight: 600; */
    background-color: #f8f9fa;
    /* พื้นหลังเทาอ่อน */
    font-size: x-large;
    text-decoration: none;
    transition: all 0.3s ease;
}

.add-water-no {
    border-radius: 20px;
    padding: 6px 16px;
    font-size: x-large;
    text-decoration: none;
    transition: all 0.3s ease;
}

.add-water:hover {
    transform: scale(1.1);
}

.add-water-no:hover {
    transform: scale(1.02);
}

.icon-plus {
    font-size: xx-large;
}

.water-card {
    border: 2px solid #007bff;
    border-radius: 20px;
    padding: 15px;
    background-color: #f0f8ff;
    /* ฟ้าอ่อนแบบน้ำ */
    box-shadow: 0 4px 10px rgba(0, 123, 255, 0.15);
}